aiofiles==23.2.1
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
alembic==1.14.0
altair==5.5.0
annotated-types==0.7.0
anthropic==0.40.0
anyio==3.7.1
arxiv==2.1.3
async-timeout==4.0.3
attrs==24.3.0
autoflake==2.3.1
autogen==0.5.2
autogen-agentchat==0.2.39
autogenstudio==0.1.5
beautifulsoup4==4.12.3
blinker==1.9.0
build==1.2.2.post1
CacheControl==0.14.1
cachetools==5.5.0
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.4.0
cleo==2.1.0
click==8.1.7
colorama==0.4.6
crashtest==0.4.1
dataclasses-json==0.6.7
deepsearch-glm==1.0.0
deprecation==2.1.0
dill==0.3.9
diskcache==5.6.3
distlib==0.3.9
distro==1.9.0
docker==7.1.0
docling==2.14.0
docling-core==2.12.1
docling-ibm-models==3.1.0
docling-parse==3.0.0
docstring_parser==0.16
dulwich==0.21.7
easyocr==1.7.2
et_xmlfile==2.0.0
eval_type_backport==0.2.0
exceptiongroup==1.2.2
faiss-cpu==1.10.0
fastapi==0.115.11
fastjsonschema==2.20.0
feedparser==6.0.11
ffmpy==0.5.0
filelock==3.16.1
filetype==1.2.0
FLAML==2.3.2
frozenlist==1.5.0
fsspec==2024.10.0
gitdb==4.0.12
GitPython==3.1.44
google-ai-generativelanguage==0.6.10
google-api-core==2.23.0
google-api-python-client==2.154.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
google-cloud-aiplatform==1.74.0
google-cloud-bigquery==3.27.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.13.1
google-cloud-storage==2.19.0
google-crc32c==1.6.0
google-generativeai==0.8.3
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
gradio==5.20.0
gradio_client==1.7.2
greenlet==3.1.1
groovy==0.1.2
grpc-google-iam-v1==0.13.1
grpcio==1.68.1
grpcio-status==1.68.1
h11==0.14.0
httpcore==1.0.7
httplib2==0.22.0
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.29.1
idna==3.10
imageio==2.36.1
importlib_metadata==8.5.0
installer==0.7.0
jaraco.classes==3.4.0
Jinja2==3.1.4
jiter==0.8.0
joblib==1.4.2
jsonlines==3.1.0
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyring==24.3.1
lancedb==0.20.0
langchain==0.3.19
langchain-community==0.3.18
langchain-core==0.3.40
langchain-huggingface==0.1.2
langchain-openai==0.3.7
langchain-text-splitters==0.3.6
langchainhub==0.1.21
langgraph==0.3.2
langgraph-checkpoint==2.0.16
langgraph-prebuilt==0.1.1
langgraph-sdk==0.1.53
langsmith==0.3.11
lazy_loader==0.4
loguru==0.7.2
lxml==5.3.0
Mako==1.3.7
markdown-it-py==3.0.0
marko==2.1.2
MarkupSafe==2.1.5
marshmallow==3.26.1
mdurl==0.1.2
mistralai==1.2.5
more-itertools==10.5.0
mpire==2.10.2
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.17
mypy-extensions==1.0.0
narwhals==1.28.0
networkx==3.4.2
ninja==1.11.1.3
nltk==3.9.1
numpy==1.26.4
ollama==0.4.4
openai==1.65.2
opencv-python-headless==4.10.0.84
openpyxl==3.1.5
orjson==3.10.15
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pexpect==4.9.0
pillow==10.4.0
pkginfo==1.11.2
platformdirs==4.3.6
poetry==1.8.4
poetry-core==1.9.1
poetry-plugin-export==1.8.0
propcache==0.2.1
proto-plus==1.25.0
protobuf==5.29.1
psycopg==3.2.3
ptyprocess==0.7.0
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyautogen==0.5.2
pyclipper==1.3.0.post6
pydantic==2.10.3
pydantic-settings==2.7.0
pydantic_core==2.27.1
pydeck==0.9.1
pydub==0.25.1
pyflakes==3.2.0
Pygments==2.18.0
pylance==0.23.2
pyparsing==3.2.0
pypdfium2==4.30.0
pyproject_hooks==1.2.0
python-bidi==0.6.3
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-multipart==0.0.20
python-pptx==1.0.2
pytz==2024.2
# pywin32==307
pywin32-ctypes==0.2.3
PyYAML==6.0.2
RapidFuzz==3.10.1
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.9.4
rpds-py==0.22.3
rsa==4.9
Rtree==1.3.0
ruff==0.9.9
safehttpx==0.1.6
safetensors==0.4.5
scikit-image==0.25.0
scikit-learn==1.5.2
scipy==1.14.1
semantic-version==2.10.0
semchunk==2.2.2
sentence-transformers==3.4.1
sgmllib3k==1.0.0
shapely==2.0.6
shellingham==1.5.4
six==1.16.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.36
sqlmodel==0.0.22
starlette==0.41.3
streamlit==1.42.2
sympy==1.13.1
tabulate==0.9.0
tenacity==9.0.0
termcolor==2.5.0
threadpoolctl==3.5.0
tifffile==2024.12.12
tiktoken==0.9.0
tokenizers==0.20.3
toml==0.10.2
tomli==2.1.0
tomlkit==0.13.2
torch==2.5.1
torchvision==0.20.1
tornado==6.4.2
tqdm==4.67.0
transformers==4.46.3
trove-classifiers==2024.10.21.16
typer==0.12.5
types-requests==2.32.0.20250301
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
uritemplate==4.1.1
urllib3==2.2.3
uvicorn==0.34.0
virtualenv==20.27.1
watchdog==6.0.0
websockets==14.1
win32-setctime==1.1.0
xgboost==2.1.2
XlsxWriter==3.2.0
yarl==1.18.3
zipp==3.21.0
zstandard==0.23.0
